* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
}