* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}
/* contenedor principal que son las 3 columnas */
.contenedor-principal {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
}

/* columna 1 que es la del menu */

.columna-menu {
    background-color: #1e2a38;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.columna-menu h1 {
    font-size: 28px;
    margin-bottom: 5px;
}
.subtitulo {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.lista-menu {
    list-style: none;
}
.lista-menu li {
    margin-bottom: 15px;
}
.lista-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.lista-menu a:hover {
    color: #4fc3f7;
}